default:
    suites:
        http2:
            contexts:
                - ClientContext:
                    - https://logstream_api.docker

        symfony:
            contexts:
                - ClientContext:
                    - @log_stream.logger_factory
                    - @log_stream.client

    extensions:
        Behat\Symfony2Extension:
            kernel:
                env: "test"
                debug: "true"
                path: "features/symfony/app/AppKernel.php"
                bootstrap: "features/symfony/app/bootstrap.php"
